@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/*----- OPTION -----*/

/*- Permet de ralentir le scroll d'une page lors de l'utilisation
 d'une ancre sur une même page */

html, body {
  scroll-behavior: smooth;
}

/* body */

body {
  font-family: "Raleway", "sans-serif";
  font-size: 100%;
  margin: auto;
}

.logo {
  display: flex;
  position: absolute;
}

h1 {
  font-size: 20px;
}

/* Navigateur */

li {
  flex-wrap: nowrap;
  flex-direction: row;
}

.navigateur {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1340px;
  margin: auto
}

a {
  color: black;
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;
}

#nav1 {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
}

#nav2 {
  display: flex;
  height: auto;
  justify-content: center;
  list-style: none;
}

nav a {
  color: black;
  padding: 21px 25px 30px;
}

.navlink:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

a.signup {
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}

.signup:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.insideheader {
  width: 100%;
  max-width: 1340px;
  margin: auto;
}

/* *******search******* */

.search {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.search i {
  background-color: #f2f2f2;
  padding: 13px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.submit {
  padding: 12px;
  font-size: 14px;
  background-color: #0065fc;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: auto;
  border: none;
  font-weight: bold;
}

#mysearch {
  border: 1px solid #f2f2f2;
  padding: 0.86em;
  margin: 0px;
  font-weight: 600;
}

::placeholder {
  color: grey;
  font-size: 16px;
}

.search .fa-search {
  display: none;
}

/* ********filters******** */

.filters {
  width: 100%;
  margin: auto;
  max-width: 1340px;
}

.filterphoto {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filterphoto>h2 {
  font-size: large;
  padding: 0 1em 0 0;
}

.button-filter {
  margin: 0 20px 0 10px;
  margin-bottom: 0.5em;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 2.5em;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.filter-container :hover {
  background-color: #deebff;
  text-decoration: none;
}

.button-filter a {
  font-weight: 700;
  padding-right: 40%
}

.filterphoto i {
  background-color: #deebff;
  padding: 0.8em;
  border-radius: 30px;
  color: #0065fc;
}

.filterI {
  display: flex;
  align-items: baseline;
  padding: 10px 0px;
}

.iconeI {
  color: #0065fc;
  background-color: white;
  height: 25px;
  width: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  border: #d9d9d9 solid 1px;
  float: left;
}

.iconeI .fas {
  font-size: 12px;
  padding: 2px;
  text-align: center;
  color: #0065fc;
}

/* ********hosting & most popular ********* */

#block-hosting_block-mostpopular {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  padding: 0px 40px;
}

.menu h2, .title {
  font-size: 23px;
}

.card-hosting .details h3 {
  font-size: 14px;
  font-weight: bolder;
  margin: 5px 0 5px 0;
}

.card-hosting .details p {
  font-size: 0.8em;
  margin: 5px 0 5px 0;
  clear: both;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.hosting {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 40px 40px;
  background-color: #f2f2f2;
  width: 60%;
}

.box-hosting.card-hosting {
  border-radius: 20px;
  padding: 3px;
  margin: 1em;
  margin-left: 2em;
}

.fas.fa-star.full {
  color: #0065fc;
}

.fas.fa-star.simple {
  color: rgba(128, 128, 128, 0.349);
}

.fas.fa-map-marker-alt, .fas.fa-chart-line {
  color: black;
}

.block-hosting {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.hosting-content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-hosting {
  background-color: white;
  width: 28%;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 15px;
  padding: 4px;
  margin: 2%;
}

.card-hosting:hover {
  transform: scale(1.05);
  transition: 1s;
}

.card-hosting img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.details {
  margin-left: 10px;
  position: relative;
  flex-basis: 60%;
}

.details p {
  font-size: 14px;
}

.stars {
  font-size: 0.7em;
}

.show-more {
  padding: 40px 0 0;
}

.show-more p {
  margin: 0;
}

/* ********** Most popular********** */

#block-mostpopular {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 35%;
  margin-left: 5%;
}

.mostpopular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.box-mostpopular {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-mostpopular:hover {
  transform: scale(1.05);
  transition: 1s;
}

.box-mostpopular-title {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-mostpopular {
  width: 90%;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  margin-top: 20px;
}

.stars.pop {
  position: absolute;
}

#block-mostpopular img {
  display: flex;
  align-items: center;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  background-color: #ffffff;
  height: 120px;
}

.card-mostpopular p {
  height: fit-content;
}

/* **********Activities********** */

#activities {
  justify-content: space-between;
  padding: 0px 40px;
}

.bloc_activity {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 5%;
  height: 470px;
}

.bloc_activity a {
  color: black;
  text-decoration: none;
}

.bloc_activity img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.activity_card {
  position: relative;
  width: 100%;
}

.activity_text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.bloc_mono_activity {
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 45px;
}

.bloc_mono_activity:hover {
  transform: scale(1.05);
  transition: 1s;
}

.bloc_mono_activity a {
  display: block;
  height: 100%;
}

.bloc_dual_activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 45px;
}

.activity_card.pomegues:hover {
  transform: scale(1.05);
  transition: 1s;
}

.activity_card.frioul:hover {
  transform: scale(1.05);
  transition: 1s;
}

.pomegues {
  height: 235px;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 20px;
  overflow: hidden;
}

.frioul {
  height: 180px;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 20px;
  overflow: hidden;
}

.bloc2_dual_activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.activity_card.damegarde:hover {
  transform: scale(1.05);
  transition: 1s;
}

.activity_card.longchamp:hover {
  transform: scale(1.05);
  transition: 1s;
}

.damegarde {
  height: 210px;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 20px;
  overflow: hidden;
}

.longchamp {
  height: 210px;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(180, 177, 177);
  border-radius: 20px;
  overflow: hidden;
}

.activity_text h3 {
  padding: 9px;
  margin-left: 10px;
  font-size: 14px;
}

/* ****Footer**** */

footer {
  background-color: #f2f2f2;
  height: 100%;
  padding: 0 0 50px 0px;
}

.block-footer {
  display: flex;
}

.footer-column {
  width: 100%;
}

footer h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px 0px 60px;
}

footer ul {
  padding: 0 0 0 60px;
}

footer li {
  font-size: 14px;
  padding: 10px 0 0 0;
  list-style: none;
}

/* Responsive Mobile*/

/*Responsive Design: Tablette*/

@media screen and (max-width: 1200px) {
  header {
    padding: 0 0 10px;
  }
  .navigateur {
    padding: 0 40px;
  }
  .insideheader, .filters {
    padding: 0 40px 0px;
  }
  .title-filters {
    padding: 0 0 20px;
  }
  .filterphoto>h2 {
    padding: 0 0 10px 0;
  }
  .button-filter {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .filterI {
    padding-left: 10px;
  }
  #block-hosting_block-mostpopular {
    flex-direction: column-reverse;
  }
  .block-hosting_block-mostpopular {
    width: 100%;
  }
  .box-image {
    flex-wrap: wrap;
    flex-direction: initial;
    align-items: initial;
  }
  .hosting {
    width: auto;
    margin-top: 30px;
  }
  .menu {
    text-align: 10px;
  }
  .box-hosting {
    width: 100%;
  }
  .hosting-content {
    width: 100%;
    padding: 20px 30px;
  }
  .card-hosting {
    width: 100%;
  }
  .card-mostpopular .details h3 {
    font-size: 14px;
  }
  .show-more {
    padding: 20px 0 10px;
  }
  #block-mostpopular {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .box-mostpopular {
    width: 100%;
    height: 380px;
  }
  .box-mostpopular-title {
    width: 90%;
  }
  .mostpopular {
    flex-direction: row;
    height: 250px;
    align-items: stretch;
    width: 95%;
    margin-top: 30px;
  }
  .card-mostpopular {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0 5px;
  }
  #block-mostpopular img {
    width: auto;
    border-radius: 15px 15px 0 0;
  }
  #activities {
    flex-direction: column;
  }
  .bloc_activity {
    height: 100%;
    flex-wrap: wrap;
  }
  .bloc_mono_activity {
    width: 45%;
    height: 480px;
    margin: 0px;
  }
  .bloc_dual_activity {
    order: -1;
    width: 45%;
    margin: 0px;
    margin-bottom: 25px;
  }
  .bloc2_dual_activity {
    width: 45%;
    margin: 0px;
    margin-top: 25px;
  }
  .footer {
    width: auto;
  }
  .footer_column {
    padding: 10px 100px 10px 30px;
  }
}

/*petite résolution mobile et petits ecrans*/

@media screen and (max-width: 700px) {
  .header {
    margin: 0;
  }
  .navigateur {
    padding: 0;
  }
  .logo {
    display: flex;
    position: absolute;
    margin-top: 0.6%;
    padding-left: 5%;
  }
  li {
    font-size: 17px;
    margin-right: -0.9%;
  }
  .signup {
    display: flex;
    padding-bottom: 20%;
  }
  a.signup:hover {
    border-top: transparent;
  }
  nav {
    width: 100%;
    display: initial;
    flex-direction: unset;
    padding-bottom: 10px;
  }
  ul#nav2 {
    color: black;
    justify-content: space-evenly;
  }
  .active {
    border-bottom: 3px solid #0065fc !important;
    border-top: none;
  }
  a.navlink {
    flex-basis: 100%;
    padding-bottom: 2%;
    border-bottom: 3px solid #f2f2f2;
  }
  .navlink:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }
  ul {
    display: block;
    list-style: none;
    padding-bottom: 10px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
  }
  .navigation {
    display: flex;
    flex-basis: 100%;
    text-align: center;
  }
  #nav2 {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  .submit {
    display: none;
  }
  .img {
    max-width: 100%;
  }
  .search .fa-search {
    display: inline-block;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
  }
  .fa-search:before {
    color: #ffffff;
  }
  #mysearch {
    width: 280px;
    font-weight: bold;
  }
  .insideheader {
    padding: 0 15px;
  }
  .filterphoto {
    flex-direction: column;
  }
  .filterphoto>h2 {
    padding: 0 0 10px 0;
    margin-left: 3%;
  }
  .filter-container {
    flex-wrap: wrap;
    align-items: baseline;
  }
  .button-filter a {
    font-size: 12px;
    font-weight: 700;
    width: 100%;
  }
  .iconeI {
    width: 30px;
    height: 26px;
    margin-right: 10px;
  }
  .hosting {
    background-color: white;
    height: auto;
    margin-top: 10px;
    padding: 0;
  }
  .card-hosting {
    margin: 15px 0 0;
    box-shadow: 0px 0px 10px 3px #8080802b;
  }
  .menu h2 {
    margin-top: 10%;
    padding: 0 20px 10px;
    font-weight: 800;
    font-size: 23px;
    margin-bottom: 0;
  }
  .box_hosting {
    padding: 0 20px;
  }
  .flex-mostpopular {
    padding: 10px;
  }
  .stars {
    bottom: 10%;
  }
  #block-hosting_block-mostpopular {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  .show-more {
    padding-top: 30px;
  }
  .show-more p a {
    padding-left: 20px;
    font-size: larger;
  }
  .block-mostpopular {
    flex-direction: row;
    width: auto;
    margin-left: 0;
    order: 1;
  }
  #block-mostpopular {
    margin: 0;
    width: 100%;
    padding: inherit;
    border-radius: 0;
  }
  #block-mostpopular img {
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    background-color: #ffffff;
    width: 40%;
  }
  .box-mostpopular {
    padding-bottom: 210px;
    padding-top: 15px;
  }
  .mostpopular {
    width: 90%;
    flex-direction: column;
    margin-top: 20px;
  }
  .card-mostpopular .details h3 {
    font-size: 14px;
    font-weight: 800;
  }
  .card-mostpopular {
    flex-direction: row;
    margin: inherit;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }
  .box-image {
    flex-direction: column;
    align-items: center;
  }
  .activities {
    margin: 0px 20px 0px 20px;
    margin-top: 10px;
  }
  #activities h2 {
    margin-left: 5%;
    margin-top: 10%;
  }
  #activities.title {
    font-size: 23px;
    font-weight: 800;
  }
  .bloc_activity {
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    width: auto;
  }
  .activity_card {
    margin-bottom: 20px;
  }
  .bloc_mono_activity {
    margin-bottom: 20px;
    width: 100%;
    height: 190px;
  }
  .bloc_dual_activity {
    width: 100%;
    margin-bottom: 10px;
  }
  .pomegues {
    height: 190px;
    width: 100%;
  }
  .frioul {
    height: 190px;
    width: 100%;
  }
  .bloc2_dual_activity {
    margin-top: 0;
    justify-content: unset;
    width: 100%;
  }
  .longchamp {
    height: 190px;
  }
  .damegarde {
    height: 190px;
  }
  .footer {
    margin-left: 0;
    margin-right: 0;
  }
  .block-footer {
    flex-direction: column;
  }
  .footer-column {
    padding: 10px 10px 10px 10px;
  }
}