@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* body */

body {
  font-family: "Raleway", "sans-serif";
  margin: 0px auto;
  max-width: 1500px;
}

main {
  width: auto;
  padding: 0 50px 40px;
}

h1 {
  margin-bottom: 0;
}

/* header */
 

/* Navigateur */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
}
nav {
  display: flex;
  width: 30%;
  font-size: 14px;
  justify-content: space-around;
}

#nav1 {
  display: flex;
  justify-content: flex-end;
} 

#nav2 {
  display: flex;
  height: 100%;
  width: 100%;
  padding:0%
} 

.navigation {
  list-style: none;

}

a {
  color: black;
  text-decoration: none;
  list-style: none;
}

nav a {
  color: black;
  padding: 50px 40px 30px;
}

.navlink {
  border-top: 3px solid transparent;
}

.navlink:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.signup {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}

h1 {
  font-size: 20px;
}


/* *******search******* */

.search {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}


.search i {
  background-color: #f2f2f2;
  padding: 13px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.submit {
  padding: 12px;
  font-size: 14px;
  background-color: #0065fc;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px outset;
  width: 8em;

}
#mysearch {
  border: 2px solid #f2f2f2;
  padding: 0.86em;
  margin: 0px;
  font-weight: 600;
}
::placeholder {
  color: black;
  font-size: 16px;
}
.search .fa-search {
  display: none;
}

/* ********filters******** */

.filterphoto {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filterphoto> h2 {
  font-size: large;
  padding: 0 1em 0 0;
}

.button-filter {
  display: flex;
  align-items: center;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 2.5em;
}
.filter-container :hover {
  color: #0065fc;
  background-color: #deebff;
}
.button-filter a {
  font-weight: 700;
  padding-right: 1em;
  padding-left: 1em;
}
.filterphoto i {
  background-color: #deebff;
  padding: 0.8em;
  border-radius: 30px;
  color: #0065fc;
}
.filterI {
  display: flex;
  align-items: baseline;
  gap: 1em;
  padding: 20px 0;
}
.iconeI {
  color: #0065fc;
  background-color: white;
  height: 25px;
  width: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  border: #d9d9d9 solid 1px;
  float: left;
}

.iconeI .fas {
  font-size: 12px;
  padding: 2px;
  text-align: center;
  color: #0065fc;
}

/* ********hosting & most popular ********* */
.block-hosting_block-mostpopular {
  display: inline-flex;
  gap: 40px;
}

.menu h2,
.title {
  font-size: 20px;
  margin: 0;
  padding: 40px 0 20px;
}
.card-hosting .details h3 {
  font-size: 0.9em;
  font-weight: bolder;
  margin: 5px 0 5px 0;
}

.card-hosting .details p {
  font-size: 0.8em;
  margin: 5px 0 5px 0;
  clear: both;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 2px;
}

#hosting {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  padding: 0 40px 40px;
  background-color: #f2f2f2;
}

.box-hosting card-hosting {
  border-radius: 20px;
  padding: 3px;
  margin: 1em;
  margin-left: 2em;
}

.fas.fa-star.full {
  color: #0065fc;
}
.fas.fa-star.simple {
  color: rgba(128, 128, 128, 0.349);
}
.fas.fa-map-marker-alt,
.fas.fa-chart-line {
  color: black;
}
.block-hosting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.firstline,
.secondline {
  display: flex;
  column-gap: 30px;
  width: 100%;
}

.card-hosting {
  background-color: white;
  width: 33%;
  box-shadow: 0px 0px 10px 3px #8080802b;
  border-radius: 15px;
  padding: 5px;
}

.card-hosting img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.details {
  margin-left: 10px;
  position: relative;
}

.details p {
  font-size: 14px;
}

.stars {
  font-size: 0.7em;  
}

.show-more {
  padding: 40px 0 0;
  font-weight: 800;
}

.show-more p {
  margin: 0;
}

/* ********** Most popular********** */

#block-mostpopular {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.box-mostpopular {
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
}

.gap-mostpopular {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 5px;
}

.box-mostpopular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.box-mostpopular-title .fas {
  font-size: larger;
}

.card-mostpopular {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 0px 10px 3px #8080802b;
}

.card-mostpopular .details {
  margin-right: 15px;
}

.stars.pop {
  position: absolute;
}
#block-mostpopular img {
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  background-color: #ffffff;
  height: 130px;
}
.card-mostpopular p {
  height: 40px;
}
.card {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}

/* **********Activities********** */

#activities {
  width: auto;
  padding-top: 25px;
}
.box-image {
  display: flex;
  gap: 2.5em;
}

.activity,
.card-activity {
  background-color: white;
  box-shadow: 0px 0px 10px 3px #8080802b;
  border-radius: 20px;
}

.card-activity2,
.card-activity3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-activity img {
  object-fit: cover;
}

.image1 {
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.image2 {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.image3 {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.image4 {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activity h3,
.card-activity h3 {
  margin: 15px;
}
/* ****Footer**** */

footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0;
}

footer {
  padding: 0 0 50px 0px;
}

.block-footer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  width: 100%;
}

.footer-column {
  padding: 10px 210px 10px 30px;
}

footer h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0 0px 20px;
}

footer ul {
  margin: 0;
  padding: 0 0 0 20px;
}

footer li {
  font-size: 14px;
  padding: 10px 0 0 0;
  list-style: none;
}

/* Responsive Mobile*/
@media screen and (max-width: 768px) {
  main {
    padding: 1em;
    margin: 0;
    width: auto;
  }
  
  .logo {
    margin-left: 0.5%;
    position: absolute;
  }

  header {
  flex-direction: column;
  }

  nav {
    display: initial;
    flex-direction: unset;
  }

  ul {
  list-style: none;
}

#nav1 {
  display: inline-flex;
  justify-content: space-between;
} 

#nav2 {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  margin-right: -10%;
}

 .hosting {
    width: 50%;
    color: black;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #f2f2f2;
    text-align: center;
    padding: 10px 0;
  }

 .activities {
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 20px 30px;
  }

  .navlink .active{
    border-bottom-color: #0065fc;
    color: #0065fc;
  }

  .hosting:hover,
  .activities:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid;
    color: #0065fc;
  }

  .submit {
    display: none;
  }

  .search .fa-search {
    display: inline-block;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
  }

  .fa-search:before {
    color: #ffffff;
  }

  #mysearch {
    width: 280px;
    font-weight: bold;
  }

  .interheader {
    padding: 0 15px;
  }

  .filters {
    padding: 0 15px;
  }

  .filterphoto {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .filterphoto > h2 {
    padding: 0 0 10px 0;
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .button-filter a {
    font-weight: 700;
  }

  .iconeI{
    width: 30px;
    height: 26px;
  }

  #hosting {
    width: 100%;
    order: 2;
    background-color: unset;
    padding: 0;
  }

  .firstline {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .secondline {
    flex-direction: column;
    align-items: center;
  }

  .card-hosting {
    width: 100%;
    margin: 15px 0 0;
    box-shadow: 0px 0px 10px 3px #8080802b;
  }

  .menu h2 {
    margin-top: 0;
    padding: 0 20px 10px;
    font-weight: 800;
    font-size: 23px;
  }

  .box_hosting {
    padding: 0 20px;
  }

  #activities {
    order: 1;
  }

  .card-mostpopular {
    padding: 0.3em;
  }

  .title {
    padding: 10px 0;
  }

  .gap-mostpopular {
    gap: 10px;
  }

  .stars {
    bottom: 0em;
  }

  .block-hosting_block-mostpopular {
    flex-direction: column;
  }

  .block_hosting {
    gap: 0;
  }

  .show-more {
    padding-top: 30px;
  }

  .show-more p a {
    font-weight: 800;
    font-size: larger;
  }

  #block-mostpopular {
    width: 100%;
    border-radius: 0;
  }

  .box-mostpopular {
    gap: 0.7em;
    padding: 20px;
  }


  .card-mostpopular .details h3 {
    font-size: 16px;
    font-weight: 800;
  }

  .box-image {
    flex-direction: column;
    gap: 1.5em;
  }

  .box-image > div {
    gap: 1.5em;
  }

  .box-image h3 {
    margin-left: 1em;
  }

  #activities.title {
    font-size: 23px;
    padding: 0 0 20px;
    font-weight: 800;
  }

  .block-activity {
    padding: 25px 20px 50px;
  }

  .activity {
    width: 100%;
    box-shadow: 0px 0px 10px 3px #8080802b;
    border-radius: 20px;
  }

  .card-activity3,
  .card-activity2 {
    display: flex;
    flex-direction: column;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    height: 120px;
  }

  footer {
    padding: 0 0 20px;
}
  .block-footer {
    flex-direction: column;
  }
  .footer-column {
    padding: 10px 100px 10px 10px;
  }




/*Responsive Design: Tablette*/
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
{
  header{
    padding: 0 0 10px
  }
  main {
    width: auto;
    padding: 0 50px 40px;
  }
  .interheader, .filters, .block-activity {
    padding: 0 20px 0;
  }
  .title-filters {
    padding: 0 0 20px;
  }
  .filterphoto {
    display: flex;
    flex-direction: column;
  }
  .filterphoto > h2 {
    padding: 0 0 10px 0;
  }
  .block-hosting_block-mostpopular {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #hosting, #block-mostpopular {
    width: auto;
  }
  .card-mostpopular .details, .details h3 {
    font-size: medium;
  }
  .menu h2 , .title
  {
    padding: 20px 0 20px;
  }
  .show-more
  {
    padding: 20px 0 10px;
  }
  #block-mostpopular, .box-image {
    display: flex;
    gap: 0.5em;
  }
  .image1 {
    height: 340px;
  }
  .footer_column {
    padding: 10px 100px 10px 30px;
  }
}
