@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* body */

body {
  font-family: "Raleway", "sans-serif";
  margin: 0px auto;
  max-width: 1500px;
}

main {
  width: auto;
  padding: 0 50px 40px;
}

h1 {
  margin-bottom: 0;
}

/* header */
.logo img {
  height: 50px;
  width: 95px;
}

/* Navigateur */
.navigateur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 30%;
  font-size: 14px;
  justify-content: space-around;
}



a {
  color: black;
  text-decoration: none;
  list-style: none;
}

nav a {
  color: black;
  padding: 50px 20px 30px;
}

nav a:nth-child(1),
nav a:nth-child(2) {
  border-top: 3px solid transparent;
}
nav a:nth-child(1):hover,
nav a:nth-child(2):hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
.signup {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}
h1 {
  font-size: 20px;
}
/*recherche*/
.search {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.search i {
  background-color: #f2f2f2;
  padding: 13px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.submit {
  padding: 12px;
  font-size: 14px;
  background-color: #0065fc;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  width: 8em;
}
#mysearch {
  border: 2px solid #f2f2f2;
  padding: 0.86em;
  margin: 0px;
  font-weight: 600;
}
::placeholder {
  color: black;
  font-size: 16px;
}
.search .fa-search {
  display: none;
}
/* ********filtres******** */

.filterphoto {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filterphoto > h2 {
  font-size: large;
  padding: 0 1em 0 0;
}

.button-filter {
  display: flex;
  align-items: center;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 2.5em;
}
.filter-container :hover {
  color: #0065fc;
  background-color: #deebff;
}
.button-filter a {
  font-weight: 700;
  padding-right: 1em;
  padding-left: 1em;
}
.filterphoto i {
  background-color: #deebff;
  padding: 0.8em;
  border-radius: 30px;
  color: #0065fc;
}
.filterI {
  display: flex;
  align-items: baseline;
  gap: 1em;
  padding: 20px 0;
}
.iconeI {
  color: #0065fc;
  background-color: white;
  height: 25px;
  width: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  border: #d9d9d9 solid 1px;
  float: left;
}

.iconeI .fas {
  font-size: 12px;
  padding: 2px;
  text-align: center;
  color: #0065fc;
}

/* ********hebergements********* */
.block-hosting_block-mostpopular {
  display: display-inside;
  gap: 40px;
}

.menu h2,
.title {
  font-size: 20px;
  margin: 0;
  padding: 40px 0 20px;
}
.card-hosting .details h3 {
  font-size: 0.9em;
  font-weight: bolder;
  margin: 5px 0 5px 0;
}

.card-hosting .details p {
  font-size: 0.8em;
  margin: 5px 0 5px 0;
  clear: both;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.container1 {
  width: 66%;
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0 40px;
}

.box-hosting card-hosting {
  box-shadow: 0px 0px 10px 3px #8080802b;
  border-radius: 20px;
  padding: 3px;
  margin: 1em;
  margin-left: 2em;
}

.fas.fa-star.full {
  color: #0065fc;
}
.fas.fa-star.simple {
  color: rgba(128, 128, 128, 0.349);
}
.fas.fa-map-marker-alt,
.fas.fa-chart-line {
  color: black;
}
.block-hosting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.firstline,
.secondline {
  display: flex;
  column-gap: 30px;
  width: 100%;
}

.card-hosting {
  background-color: white;
  width: 33%;
  box-shadow: 0px 0px 10px 3px #8080802b;
  border-radius: 15px;
  padding: 5px;
}

.card-hosting img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.details {
  margin-left: 10px;
  position: relative;
}

.details p {
  font-size: 14px;
}

.stars {
  font-size: 0.7em;  
}

.show-more {
  padding: 40px 0 0;
  font-weight: 800;
}

.show-more p {
  margin: 0;
}

/* **********les plus populaires********** */

#block-mostpopular {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.box-mostpopular {
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
}

.gap-mostpopular {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 5px;
}

.box-mostpopular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.box-mostpopular-title .fas {
  font-size: larger;
}

.card-mostpopular {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 0px 10px 3px #8080802b;
}

.card-mostpopular .details {
  margin-right: 15px;
}

.stars.pop {
  position: absolute;
}
#block-mostpopular img {
  width: 40%;
  border-bottom-left-radius: 15px;
  object-fit: cover;
  background-color: #ffffff;
  height: 130px;
}
.card-mostpopular p {
  height: 40px;
}
.card{
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}

/* **********Activités********** */

.block-activities {
  width: auto;

  padding-top: 25px;
}
.box-images {
  display: flex;
  gap: 2.5em;
}

.activity,
.carte-activity {
  background-color: white;
  box-shadow: 0px 0px 10px 3px #8080802b;
  border-radius: 20px;
}
.carte-act2,
.carte-act3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carte-activity img {
  object-fit: cover;
}
.img1 {
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.img3 {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.img4 {
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activity h3,
.carte-activity h3 {
  margin: 15px;
}
/*pied de page*/

footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0;
}
footer {
  padding: 0 0 50px 0px;
}
.groupe_footer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  width: 100%;
}
.footer_column {
  padding: 10px 210px 10px 30px;
}
footer h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0 0px 20px;
}
footer ul {
  margin: 0;
  padding: 0 0 0 20px;
}
footer li {
  font-size: 14px;
  padding: 10px 0 0 0;
  list-style: none;
}
